*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
/* ocupar 100% da tela */
    height: 100vh;
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7fb;
}
.caixona{
    /* cor da caixa */
    background-color: #fff;
    /* espaçamento das caixas para as fotos */
    padding: 2rem 5rem;
    /* arredodamento de bordas */
    border-radius: 15px;
    /* sombras */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    /* itens um embaixo do outro */
    flex-direction: column;
}
.resultado div{
    display: flex;
    gap: 7rem;
    justify-content: center;
    img{
        width: 100px;
    }
}
.opções{
    p{
        color: #7d2ae8;
        font-size: 1.4rem;
        font-weight: bold;
       text-align: center;
    }
}
.result-user img{
    /* colocar as imagens das mãos uma de frente para a outra  */
    transform: rotate(90deg);
}
.result-pc img{
    /* rotateY é para ajustar a direção (os dois polegares estão para direita) */
    transform: rotate(-90deg) rotateY(180deg);
}
.options-imagens{
    flex-direction: column;
    cursor: pointer;
    margin-top: 50px;
    transition: opacity 0.5 ease;
    /* ficar meio transparente */
    opacity: 0.5;
    img{
        width: 50px;
    }
}

/* se eu passar o mouse na imagm ela continua com cor  */
.options-imagens:hover{
    opacity: 1;
}
/* enquanto o mouse estiver na minha imagem ela está com cor */
.options-imagens:active{
    opacity: 1;
}

.text-result{
    text-align: center;
    color: #7d2ae8;
    font-weight: bold;
    margin: 1.5rem 0;
    font-size: 2rem;
}

/* animação da mãos */
.caixona .result-user{
    transform-origin: left;
    /* nome do keyframe>duração>suavização>animação infinita */
    animation: maozinha 0.7s ease infinite;
}

@keyframes maozinha{
    /* criação do movimento */
    50%{
        transform:rotate(10deg);
    }
}
.caixona .result-pc{
    transform-origin: right;
    /* nome do keyframe>duração>suavização>animação infinita */
    animation: maozinha-pc 0.7s ease infinite;
}

@keyframes maozinha-pc{
    /* criação do movimento */
    50%{
        transform:rotate(-10deg);
    }
}